.navbar{
    display:flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    margin-left: 6rem;
}
.nav-xyz{
    font-size: 30px;
    font-weight: 400;
    color:blue;
}
